<main class="home-main">
  <section class="hero-split">
    <div class="hero-left">
      <div class="hero-text">
        <h1>CMTree</h1>
        <p><strong>Connecting the CMT Community, One Branch at a Time</strong><br>
          Together, We Grow Stronger
        </p>
        <div class="hero-buttons">
          <a href="/login" class="btn">Login</a>
          <a href="/register" class="btn">Register</a>
        </div>
      </div>
    </div>
    <div class="hero-right">
      <img src="/images/Tree_PNG_Clip_Art-2890.png" alt="CMTree 'logo'" />
    </div>
  </section>
</main>
